@import "reset.css";
/*---------------------------*/
/*Header footer use*/
/*---------------------------*/
:root {
    --app-header-height: 56px;
    --app-footer-height: 100px;
    --app-section-padding-height: 20px;
    --app-sectitle-padding-height: 40px;
    --app-content-text-color: #949393;
    --app-blue: #0418bb;
    --app-hover-blue: #0f97fb;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 700;
}
/*header style*/
header {
    width: 100%;
    height: var(--app-header-height);
    background-color: var(--app-blue);
}
.site-nav-container {
    display: flex;
    justify-content: space-between;
}
/*header content*/
.site-nav-container > div {
    height: 100%;
}

.site-nav-title h2 {
    line-height: var(--app-header-height);
    color: white;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.site-nav-list {
    
    display: flex;
    align-items: center;
    
}

.site-nav-desktop-nav {
    height: var(--app-header-height);
}
.site-nav-mobile-nav {
     display:none;
    color: #fff;
   
}
.site-nav-desktop-nav ul {
    list-style: none;
}
.ul-1 li {
    line-height: var(--app-header-height);
    display: inline;
}

.site-nav-desktop-nav ul li {
    line-height: var(--app-header-height);
    display: inline;
}

nav ul li + li {
    margin-left: 18px;
}

header a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: var(--app-hover-blue);
}
/*herobanner style*/
.herobanner {
    width: 100%;
    height: calc(100vh * 0.8);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/banner-bg.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    color:#fff;
    font-size:36px;
    padding-bottom: 18px;
    text-align: center;
    animation: word-ani 1s linear;
    
}
@keyframes word-ani {
    0% {
        transform: translate(0,-50px);
        opacity: 0;
    }

    100% {
        transform: translate(0,0px);
        opacity: 1;
    }
}

/*footer style*/
footer {
    height: var(--app-footer-height);
    background-color: #222222;
}

/*fooder content*/
.site-footer-container {
    height: var(--app-footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.site-footer-social-link {
    display: flex;
    justify-content:center;
    align-items:center;
}
    .site-footer-social-link a + a {
        margin-left: 18px;
        text-decoration: none;
    }
.site-footer-social-link i {
   
    color: #949393;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.site-footer-social-link i:hover {
    color: var(--app-blue);
}


@media(max-width: 768px) {
     
    h3{
        font-size:20px;
    }
    h4 {
        font-size: 20px;
    }
    
}
@media(max-width: 468px) {

    
    h3 {
        font-size: 16px;
    }

     
    h4 {
        font-size: 16px;
    }
     
}