@import "frame.css";


/*content section one*/
.site-sec1 {
    padding-top: var(--app-section-padding-height);
    background-color: #f3f3f3;
}
.site-content-title{
    text-align: center;
}
h3{
    font-size: 36px;
    font-weight: 700;
}
.site-content-row {
    display: flex;
    justify-content:center;
}
.aboutme-cls {
    font-size: 20px;
    width: 600px;
    text-align: center;
}
/* section two*/
.site-sec2 {
    padding-top: var(--app-section-padding-height);
    padding-bottom: var(--app-section-padding-height);
    background-color: #f3f3f3;
}
.form-cls {
    width: 600px;
}
.form-name {
    width: 100%;
    height: 60px;
    border: solid 1px #cce8fe;
    padding: 10px 26px 10px 26px;
    margin-bottom: 30px;
}
.form-email {
    width: 100%;
    height: 60px;
    border: solid 1px #cce8fe;
    padding: 10px 26px 10px 26px;
    margin-bottom: 30px;
}
.form-message {
    width: 100%;
    height: 160px;
    border: solid 1px #cce8fe;
    padding: 10px 26px 10px 26px;
    margin-bottom: 30px;
}
.form-submit {
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #fff;
    background-color: var(--app-blue);
    transition: all 0.25s ease-in-out;
}
.form-submit:hover {
    background-color: #0f97fb;
}

@media(max-width: 768px) {

   
    .site-content-sec1-col-1, .site-content-sec1-col-2 {
        width: 50%;
    }

    .site-content-sec1-col-3 {
        width: 50%;
    }

    .site-content-sec2-col-1, .site-content-sec2-col-2 {
        width: 100%;
    }

    .site-content-sec3-col-1, .site-content-sec3-col-2 {
        width: 100%;
    }

    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left, .site-content-sec3-col-right {
        padding: 0px;
    }

  
}

@media(max-width: 468px) {

    .site-content-sec1-col-1, .site-content-sec1-col-2, .site-content-sec1-col-3 {
        width: 100%
    }
    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left, .site-content-sec3-col-right {
        padding: 0px;
    }

}